.bg-destination {
  min-height: 100vh;
  background-image: url("../../assets/destination/background-destination-mobile.jpg");
  background-position: center center;
  background-size: cover;
}

@media (min-width: 600px) {
  .bg-destination {
    background-image: url("../../assets/destination/background-destination-tablet.jpg");
  }
}

@media (min-width: 1000px) {
  .bg-destination {
    background-image: url("../../assets/destination/background-destination-desktop.jpg");
  }
}
