.bg-home {
  min-height: 100vh;
  background-image: url("../../assets/home/background-home-mobile.jpg");
  background-position: center center;
  background-size: cover;
}

@media (min-width: 600px) {
  .bg-home {
    background-image: url("../../assets/home/background-home-tablet.jpg");
  }
}

@media (min-width: 1000px) {
  .bg-home {
    background-image: url("../../assets/home/background-home-desktop.jpg");
  }
}
